version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - db
    volumes:
      - ./app-logs:/app/logs

  db:
    image: postgres:15
    env_file:
      - .env
    volumes:
      - /home/mycar/postgres-data:/var/lib/postgresql/data
    restart: always